<div class="contentsBoxedGrouping">
  <div class="contentBoxDetailWrapper">
    {% for content in page.boxedContent %}
    <span class="boxedContent">
      <a class="boxedContentAnchor" href="{{ content.link }}"><img class="boxedContentImg" src="{{ content.image }}" alt="{{ content.alt }}" loading="lazy"></a>
       <div class="boxedContentPostTextBoxNormal">
        <h2><a href="{{ content.link }}">{{ content.title }}</a></h2>
        <a href="{{ content.link }}" class="boxedContentPostTextDetail">{{ content.text }}</a>
      </div>
    </span>
    {% endfor %}
  </div>
</div>