{% assign current_url = include.url | default: page.url | replace: '.html', '' %}
{% assign section_name = '' %}
{% assign current_label = page.title %}
{% for section in site.data.navigation.menu %}
  {% for item in section.items %}
    {% assign item_url = item.href | replace: '.html', '' %}
    {% if item_url == current_url %}
      {% assign section_name = section.parent %}
      {% assign current_label = item.text %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% if current_url != '/' and current_url != '/404' %}
  <nav class="breadcrumbs" aria-label="Breadcrumb">
    <ol>
      {% if section_name != '' and current_label != section_name %}
        <li><span>{{ section_name }}</span></li>
      {% endif %}
      <li><span aria-current="page">{{ current_label }}</span></li>
    </ol>
  </nav>
{% endif %}
