<footer class="outer-footer">
  <div class="inner-footer">
    <div class="footerLinks">
      <div class="footerLinks-header">
        <h2>Helpful links</h2>
      </div>
      <div class="footerLinks-table">
        <ul class="footerTableUL">
          <li class="footerTableLi"><a href="/support/howCanWeSupport.html" class="footerAnchor">How can we support ?</a>
          </li>
          <li class="footerTableLi"><a href="/fundraising/fundraiseForUs.html" class="footerAnchor">Fundraising</a></li>
          <li class="footerTableLi"><a href="/fundraising/howToDonate.html" class="footerAnchor">How to Donate</a></li>
          <li class="footerTableLi"><a href="/news/events.html" class="footerAnchor">Events</a></li>
          <li class="footerTableLi"><a href="/aboutUs/aboutUs.html" class="footerAnchor">about us</a></li>
          <li class="footerTableLi"><a href="/aboutUs/privacyNotice.html" class="footerAnchor">Privacy and Cookies</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footerSocialIcons">
      <div class="socialIcons">
        <a class="instagramFooter" alt="instagram" target="_blank" href="{{ site.data.legal.instagram }}"></a>
        <a class="twitterFooter" alt="X" target="_blank" href="{{ site.data.legal.twitter }}"></a>
        <a class="facebookFooter" alt="Facebook" target="_blank" href="{{ site.data.legal.facebook }}"></a>
      </div>
    </div>

    <div class="footerCompanyDetails">
      <p>Home-Start Nottingham, registered charity no. {{ site.data.legal.charityNo }}.</p>
      <p>Company limited by guarantee in England & Wales no. {{ site.data.legal.companyNo }}</p>
      <p>{{ site.data.legal.address }} &copy; {{ "now" | date: "%Y" }}
        Home-Start Nottingham</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/carousel.js"></script>
<script src="/assets/js/navigation.js"></script>