<nav id="pageHeader" class="headerMainOuterContainer pageHeader">
  <div class="headerLogoContainer">
    <a href="./index.html"><img src="./img/hslogo.jpg" alt="Homestart Nottingham Logo" id="header-logo"></a>
  </div>
  <div class="headerButtonsContainer">
    <ul class="headerButtons horizontalList">
      <li class="ulHeadermobileButton"><a onclick="mobileClickFunction()" class="menuMainAlt">Menu</a></li>
      <li class="ulHeaderButton"><a alt="Donate to Home-Start Nottingham" target="_blank"
          href="fundraising/howToDonate.html" class="header-button donate">Donate</a></li>
      <li class="ulHeaderButton"><a href="aboutUs/contactUs.html" class="header-button">Contact Us</a></li>
    </ul>
  </div>

  <div class="headerMediaContainer">
    <ul class="socialIcons horizontalList">
      <li><a class="instagram" alt="instagram" target="_blank"
          href="https://www.instagram.com/homestartnottingham/"></a></li>
      <li><a class="twitter" alt="Twitter" target="_blank" href="https://twitter.com/homestartnottm"></a></li>
      <li><a class="facebook" alt="Facebook" target="_blank" href="https://www.facebook.com/homestartnottingham"></a>
      </li>
    </ul>
  </div>

  <div class="headerNavigationContainer hideNav">
    <nav id="menuMain" class="menuMain" role="navigation">
      <div id="navbar">
        <ul class="topLevel level1 mainNavBar">
          <li id="menuNS" class="level1 hasSubmenu" onclick="menuClickFunction('NS')">
            <a role='menuitem' title='Need Support drop down menu'>Support families</a>
            <ul class="subMenu level2" aria-label="Support families">
              <li class="level2 menu1_1">
                <a role='menuitem' href="support/howCanWeSupport.html">How can we support</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="support/caseStudies.html">Case studies</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="support/referrersInfo.html">Referrers info</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="support/familyMentorTeam.html">Family Mentor Team</a>
              </li>
            </ul>
          </li>
          <li id="menuVOL" class="level1 hasSubmenu" onclick="menuClickFunction('VOL')">
            <a role='menuitem' title='Volunteer drop down menu'>Volunteers</a>
            <ul class="subMenu level2" aria-label="Get help">
              <li class="level2 menu1_1">
                <a role='menuitem' href="volunteers/howToVolunteer.html">How to volunteer</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="volunteers/trusteeInfo.html">Trustee information</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="volunteers/caseStudies.html">Case Studies</a>
              </li>
            </ul>
          </li>
          <li id="menuFund" class="level1 hasSubmenu" onclick="menuClickFunction('Fund')">
            <a role='menuitem' title='Volunteer drop down menu'>Fundraising</a>
            <ul class="subMenu level2" aria-label="Get help">
              <li class="level2 menu1_1">
                <a role='menuitem' href="fundraising/fundraiseForUs.html">Fundraise for us</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="fundraising/howToDonate.html">How to donate</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="fundraising/corporatePartners.html">Corporate partners</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="fundraising/supporters.html">Supporters</a>
              </li>
            </ul>
          </li>
          <li id="menuNews" class="level1 hasSubmenu" onclick="menuClickFunction('News')">
            <a role='menuitem' title='Volunteer drop down menu'>News</a>
            <ul class="subMenu level2" aria-label="Get help">
              <li class="level2 menu1_1">
                <a role='menuitem' href="news/events.html">Events</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="news/accountsAndReports.html">Accounts & report</a>
              </li>
            </ul>
          </li>
          <li id="menuAbout" class="level1 hasSubmenu" onclick="menuClickFunction('About')">
            <a role='menuitem' title='Volunteer drop down menu'>About us</a>
            <ul class="subMenu level2" aria-label="Get help">
              <li class="level2 menu1_1">
                <a role='menuitem' href="aboutUs/aboutUs.html">About us</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="aboutUs/staff.html">Staff</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="aboutUs/history.html">History</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="aboutUs/privacyNotice.html">Privacy notice</a>
              </li>
              <li class="level2 menu1_1">
                <a role='menuitem' href="aboutUs/contactUs.html">Contact Us</a>
              </li>
            </ul>
          </li>
          <li class="mobileHeaderButtonLI"><a alt="Donate to Home-Start Nottingham" target="_blank"
              href="https://www.justgiving.com/homestartnottingham" class="mobileHeaderButton donate">Donate</a></li>
          <li class="mobileHeaderButtonLI"><a href="aboutUs/contactUs.html" class="mobileHeaderButton">Contact Us</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</nav>