@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

:root {
  -c-yellow: #ffa300;
  -c-orange: #E05206;
  -c-orangeHighlight: #df621f;
  -c-purple: #500778;
  -c-purpleHightlight: #561977;
  -c-offWhite: #eee;
  -c-lightGrey: #999;
  -c-black: #000000;
  -c-darkScreen: #0000008c;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  color: var(-c-black);
  font-size: 1em;
  line-height: 1.4;
}

main {
  margin-top: 125px;
}

body {
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

button {
  border: none;
  border-radius: 3em;

  padding: 1em 2em;

  font-weight: 400;
  text-align: center;

  justify-content: center
}

form {
  max-width: 550px;
  padding: 1rem;
  margin: 5px auto;
  border: 1px solid var(-c-black);
}

input[type=submit] {
  padding: .5rem;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}


.pageHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttonIcon {
  max-width: 25px;
  max-height: 20px;
  margin-right: 5px;
}


::-moz-selection {
  background: var(-c-offWhite);
  text-shadow: none;
}

::selection {
  background: var(-c-offWhite);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(-c-offWhite);
  margin: 1em 0;
  padding: 0;
}

a,
u,
li {
  text-decoration: none;
  list-style: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: var(-c-offWhite);
  color: var(-c-black);
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_assets/css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: var(-c-black);
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.cta-button a,
.button a,
button a,
.addToCalender a {
  color: inherit
}

.cta-button:hover,
.button:hover,
button:hover {
  text-decoration: none;
  color: var(-c-offWhite);
  cursor: pointer;
  background-color: var(-c-purpleHightlight);
  border-color: var(-c-purpleHightlight)
}

.accordion:hover {
  text-decoration: none;
  color: var(-c-white);
  cursor: pointer;
  background-color: transparent;
}

.headerMainOuterContainer {
  position: fixed;
  background-color: var(-c-offWhite);
  padding-top: 5px;
  padding-right: 20px;
  left: 0;
  right: 0;
  top: 0;
  /* Position the navbar at the top of the page */
  z-index: 2;
}

.headerLogoContainer {
  padding-left: 150px;
  display: inline-block;
}

#header-logo {
  top: 5px;
  left: 5px;
  height: 120px;
  padding: 1rem;
}

.headerButtonsContainer {
  display: flex;
}

.socialIcons a:before {
  display: block;
  font-size: 1.2rem;
  font-family: fontawesome;

  font-weight: 400;
  -webkit-transition: color ease .1s;
  -o-transition: color ease .1s;
  transition: color ease .1s;
  color: var(-c-purple)
}


.socialIcons {
  display: flex;

  padding-left: 0;
  margin-bottom: 0;

  align-items: center
}

.socialIcons a {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  box-shadow: none;
  margin: 18px 13px 2px 13px;
  color: var(-c-purple);
  background-color: transparent;
}

.socialIcons .instagram:before {
  content: "\f16d"
}

.socialIcons .twitter:before {
  content: "\e61b";
}

.socialIcons .facebook:before {
  content: "\f09a"
}

horizontalList {
  list-style: none;
  padding-inline-start: 0px;
  display: inline;
  float: right;
}

ul.list-style-disc {
  padding-inline-start: 0px;
  margin-inline-start: 20px;
}

ul.list-style-decimal {
  padding-inline-start: 0px;
  margin-inline-start: 20px;
}

.mobileHeaderButtonLI {
  display: none;
}

.headerButtons .header-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: var(-c-yellow);
  color: var(-c-offWhite);
  border: 0 solid var(-c-purple);
  outline: 0;
  border-radius: 2px;
  padding: 0.5em 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;

  text-transform: none;
  line-height: 1.25;
  margin-right: 5px;
  transition: all .1s ease;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.headerButtons .header-button.donate {
  background-color: var(-c-orange);
  color: var(-c-offWhite);
  border-color: var(-c-orange);
}


.headerButtons .header-button a {
  color: inherit
}

.headerButtons .header-button:hover {
  text-decoration: none;
  color: var(-c-offWhite);
  cursor: pointer;
  background-color: var(-c-yellow);
  border-color: var(-c-yellow)
}

.headerButtons .header-button.donate:hover {
  background-color: var(-c-orange);
  border-color: var(-c-orange);
}



.ulHeadermobileButton a {
  display: none;
}

.headerButtons .header-button {
  margin: 0 5px;
}

.headerButtons .header-button:first-child {
  margin-left: 0;
}

a.header-button {
  padding-left: 45px;
}

a.header-button:before,
a.mobileHeaderButton:before {
  content: '';
  background-image: url(/assets/img/chevron-orange.png);
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 21px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}

a.mobileHeaderButton:before {
  left: 35px;
}

a.header-button.donate:before,
a.mobileHeaderButton.donate:before {
  content: '';
  background-image: url(/assets/img/smile-yellow.png);
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 21px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}

a.mobileHeaderButton.donate:before {
  left: 35px;
}



.menuMainAlt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(-c-purple);
  color: var(-c-offWhite);
  border: 0 solid var(-c-purple);
  outline: 0;
  border-radius: 2px;
  padding: 1em 2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;

  text-transform: none;
  line-height: 1.25;
  margin-right: 5px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2px 0 2px 5px;
  position: relative;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease
}

.menuMainAlt a {
  color: inherit
}

.menuMainAlt:hover {
  text-decoration: none;
  color: var(-c-offWhite);
  cursor: pointer;
  background-color: var(-c-purple);
  border-color: var(-c-purple)
}

.menuMainAlt:before {
  content: '\f0c9';

  font-weight: 400;
  margin-right: .5em;
  width: 12.5px
}

.menuMainAlt:before {
  content: '\f0c9';

  font-weight: 400;
  margin-right: .5em;
  width: 12.5px
}

.menuMainAlt:hover {
  background-color: var(-c-purple)
}

.menuMainAlt.active {
  color: var(-c-offWhite);
  background-color: var(-c-purple);
  border-color: var(-c-purple)
}

.menuMainAlt.active:before {
  content: '\f00d'
}

.generalBody {
  margin-top: 125px;
}

.homeIntroWrapper {
  position: relative;
  max-width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: var(-c-purple);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  text-transform: none;

  font-size: 1.4em;
  color: var(-c-offWhite);
  border-radius: 2px;
  font-weight: 700;
  line-height: 1.5;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.homeIntro {
  position: relative;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  line-height: inherit
}

.homeIntro>* {
  line-height: inherit;
  text-transform: inherit
}

.homeIntro>*:last-child {
  margin-bottom: 0
}

.homeIntro a:not(.button) {
  color: inherit;
  text-decoration: underline
}

.homeIntro a.button {

  font-size: 1.2rem;
  font-weight: 100;
  padding: .7em 1.5em;
  background-color: var(-c-orange);
  color: var(-c-offWhite);
}

.homeIntro a.button:hover {
  background-color: var(-c-orangeHighlight);
  border-color: var(-c-orangeHighlight)
}

.downArrows {
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 56px;
  padding-left: 47.5%;
}

.downArrowsSVG {
  display: inline-block;
  width: 90%;
  height: auto;
}

.homeFeaturesWrapper {
  background-color: var(-c-offWhite);
  margin-bottom: 80px;
}

.outer-footer {
  background-color: var(-c-orange);
  width: 100%;
}

.inner-footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  color: var(-c-offWhite);
  text-align: center;
}

.footerLinks-header h2 {

  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: .5em;
  text-transform: none;
  letter-spacing: initial;
}

.footerTableUL {
  margin-left: 0px;
  display: inline-flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.footerTableLi {
  padding-right: 100px;
}

.footerAnchor {
  text-align: left;
  font-size: 0.7em;
  font-weight: 400;
  color: var(-c-offWhite);
  text-decoration: none;
  cursor: pointer;
}

.footerAnchorLogos {
  margin-right: 10px;
}


.footerAnchor:hover {
  color: var(-c-purple);
}

.footerCompanyDetails {
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
}

.footerSocialIcons {
  display: inline-flex;
}

.instagramFooter:before {
  margin: 0px 13px 2px 13px;
  content: "\f16d";
}

.twitterFooter:before {
  margin: 0px 13px 2px 13px;
  content: "\e61b";
}

.facebookFooter:before {
  margin: 0px 13px 2px 13px;
  content: "\f09a"
}

.homeFeatures {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

.homeFeatures2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

.homefeaturecategory-homeboximpactstats {
  position: relative;
  color: var(-c-offWhite);
  padding: 3rem 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-radius: 2px;
  width: 100%;
  max-width: 100%;
  background-color: var(-c-purple);
  border-radius: 0;
}

.homefeaturecategory-homeboximpactstats .homeImpactWrapper {
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: none;
}

.homefeaturecategory-homeboximpactstats table,
.homefeaturecategory-homeboximpactstats td,
.homefeaturecategory-homeboximpactstats tr {
  width: 100% !important;
  height: auto !important;
}

.homefeaturecategory-homeboximpactstats td {
  display: block;
  padding: 0;
  position: relative;
  width: 337px;
}

.homefeaturecategory-homeboximpactstats tr {
  display: block;
  padding: 0;
  position: relative;
  width: 337px;
}


.homefeaturecategory-homeboximpactstats table {
  position: relative;
}

.homefeaturecategory-homeboximpactstats .homeImpactWrapper>h2 {
  display: block;
  position: relative;
  text-align: center;
  font-size: 2em;
  color: inherit;
  font-weight: 700;
  margin-bottom: 0
}

.homefeaturecategory-homeboximpactstats .homeImpactWrapper>h2 a {
  color: inherit
}

.homefeaturecategory-homeboximpactstats table {
  position: relative
}

.homefeaturecategory-homeboximpactstats tbody {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center
}

.homefeaturecategory-homeboximpactstats th,
.homefeaturecategory-homeboximpactstats td {
  border-top: 0
}

.homefeaturecategory-homeboximpactstats tr {
  position: relative;
  text-align: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  min-width: 180px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  border: 0 solid var(-c-offWhite);
  border-width: 0;
  margin: 10px
}

.footerTableLi {
  padding-right: 50px;
}

.outerBox {
  max-width: 100%;
  margin: 0;
  text-transform: none;

  font-size: 1.4em;
  color: var(-c-offWhite);
  border-radius: 2px;
  font-weight: 700;
  line-height: 1.5;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  margin-top: 125px;
}

.pageBodyTopImg {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 125px; */
  margin-bottom: 0;
  position: relative;
  height: auto;
}

.fullWidthImage {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  height: auto;
}

.introHeader {
  display: block;
  margin-top: 150px;
  padding-left: 150px;
  max-width: 1000px;
}

.finalPara {
  margin-bottom: 50px;
}


.introHeaderfollowingImg {
  display: block;
  margin-top: 20px;
  padding-left: 150px;
  max-width: 1000px;
}



h1.title {
  font-size: 2em;

  font-weight: 700;
  color: var(-c-orange);
  text-transform: none;
  text-align: left;
}

.outerBox h2 {
  font-size: 1.5em;

  font-weight: 700;
  color: var(-c-orange);
  text-transform: none;
  text-align: left;
}

.introText {

  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(-c-black);
}

.contentsStaticTextWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;

  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(-c-black);
}

.contenstStaticAsideCol3 {
  width: 325px;
  padding-left: 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding-right: 20px;
}

.contenstStaticAsideDetail {
  background-color: var(-c-offWhite);
  padding: 1.5rem;
}


.hs-sub-header-orange {
  color: var(-c-orange);
}

.hs-sub-header-orange2 {
  padding-top: 40px;
  color: var(-c-orange);
}

.underline {
  text-decoration: underline;
}

.smallCase {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.donateImg {
  margin-left: 50px;
}

.contentsBoxedGrouping {
  display: block;
  padding-left: 150px;
}

.contentsBoxedGroupingNoPad {
  display: inline-block;
}

.formClass {
  width: 300px;
  display: inline;
}

.contentBoxDetailWrapper {
  border-style: solid;
  height: 100%;
}

.boxedContent {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  max-width: 300px;
  background-color: rgba(0, 0, 0, .05);
  margin-bottom: 25px;
}

.boxedContentLarge {
  display: inline-block;
  margin-right: 10px;
  width: 450px;
  max-width: 450px;
  background-color: rgba(0, 0, 0, .05);
  margin-bottom: 25px;
}

.boxedContentLargeWhite {
  display: inline-block;
  margin-right: 10px;
  width: 450px;
  max-width: 450px;
  background-color: var(-c-offWhite);
  margin-bottom: 25px;
}

.boxedContentSmall {
  display: inline-block;
  margin-right: 10px;
  background-color: var(-c-offWhite);
  margin-bottom: 25px;
}

.boxedContentAnchor {
  padding: 0;
  max-width: 100%;
  background-color: var(-c-purple);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0px;
}

.nofill {
  background-color: var(-c-offWhite);
}

.boxedContentImg {
  opacity: 1;
  display: block;
  width: 300px;
  height: 200px;
  max-width: initial;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 0;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.boxedContentImgLarge {
  opacity: 1;
  display: block;
  width: 450px;
  height: 100px;
  max-width: initial;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 0;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.inlineImages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.boxedContentImgLarger {
  opacity: 1;
  width: 450px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 0;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  margin-bottom: 5px;
}

.boxedContentImgLarger:hover {
  opacity: 0.5;
}

.paraWithPadding {
  padding-bottom: 20px;
}

.boxedContentImg:hover {
  opacity: 0.5;
}

.boxedContentImgLarge:hover {
  opacity: 0.5;
}


.boxedContentPostTextBox {
  margin: 5px;
}

.boxedContentPostTextBox h2 {
  margin-bottom: .5rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(-c-purple);
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.boxedContentPostTextBoxNormal h2 {
  margin-bottom: .5rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(-c-purple);
  display: block;
  font-size: .9em;
  font-weight: bold;
}

.boxedContentPostTextBox h2 a {
  text-decoration: none;
  color: var(-c-purple);
}

.boxedContentPostTextBoxNormal h2 a {
  text-decoration: none;
  color: var(-c-purple);
}

.boxedContentPostTextDetail {
  display: block;
  text-align: left;
  color: var(-c-black);
  height: 100px;
  max-height: 100px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.boxedContentPostTextDetailLarge {
  display: block;
  text-align: left;
  color: var(-c-black);
  height: 300px;
  max-height: 300px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.boxedContentPostTextDetailLargeNews {
  display: block;
  text-align: left;
  color: var(-c-black);
  height: 320px;
  max-height: 320px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.faqSection {
  margin-left: 110px;
  margin-right: 20px;
}

.faqcontainer {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.panel {
  margin-left: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(-c-black);
  background-color: var(-c-offWhite);
}

.list-style-decimal {
  list-style-type: decimal;
}

.list-style-disc {
  list-style-type: disc;
}

.list-style-true {
  list-style: disc;
}

.list-style-number-true {
  list-style-type: decimal;
}

.staffContainer {
  clear: both;
  float: left;
  width: 460px;
  max-width: 460px !important;
}

.staffContainer table {
  display: table;
  width: 440px;
  max-width: 440px !important;
  border-color: var(-c-orange);
  border-style: solid;
  border-spacing: 0px;
  margin-bottom: 30px;
}

.staffContainer table th {
  background-color: var(-c-orange);
  color: white;
}

.th1 {
  border-right: 2px solid white;
}

.th2 {
  border-left: 2px solid white;
}

.staffContainerTR tr {
  display: table-row;
  border-color: var(-c-orange);
  border-style: solid;
}

.roleBold {
  border: 2px solid var(-c-orange);
  padding-left: 15px;
  font-weight: bold;
}

.roleNormal {
  border: 2px solid var(-c-orange);
  padding-left: 15px;
  font-weight: normal;
}

.purpleButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(-c-purple);
  color: var(-c-offWhite);
  border: 0 solid var(-c-purple);
  outline: 0;
  border-radius: 2px;
  padding: 1em 2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;

  font-size: inherit;
  text-transform: none;
  text-decoration: none;
  line-height: 1.25;
  letter-spacing: inherit;
  margin-right: 5px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.orangeButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(-c-orange);
  color: var(-c-offWhite);
  border: 0 solid var(-c-orange);
  outline: 0;
  border-radius: 2px;
  padding: 1em 2em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;

  font-size: inherit;
  text-transform: none;
  text-decoration: none;
  line-height: 1.25;
  letter-spacing: inherit;
  margin-right: 5px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hsInlineBlock {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

p:only-child em:only-child,
p>em:only-child {
  border-left: 5px solid var(-c-purple);
  border-radius: 0;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(-c-black);
  background-color: var(-c-white);
  font-style: italic;
  display: block;
}

.boxededPara {
  border-left: 5px solid var(-c-purple);
  border-radius: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
  color: var(-c-black);
  background-color: var(-c-white);
}

.boxedParaSmall {
  border-left: 5px solid var(-c-purple);
  border-radius: 0;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(-c-black);
  background-color: var(-c-white);
}

.italic {
  font-style: italic;
}

.boxedContentWithSolidTextBox {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, .05);
  margin-bottom: 10px;
  opacity: 1;
}

.boxedeTextCenter {
  border-radius: 0;
  padding: 1rem;
  text-align: center;
  color: var(-c-offWhite);
  background-color: var(-c-purple);
  margin-block-start: 0px;
  margin-block-end: 0px;
  opacity: 1;
}

.boxedeTextCenter:hover {
  opacity: 0.5;
}