@media(max-width:780px) {

  .ulHeadermobileButton a {
    display: none;
  }

  .homeIntroWrapper {
    padding: 1.4rem;
  }

  .homeIntro a.button {
    font-size: 1.2rem;
    padding: .5em 1.2em;
  }
  .downArrows {
    padding-left: 46%;
  }

  .introHeader {
    max-width: 670px;
    padding-left: 20px;
  }
  .introHeaderfollowingImg {
    max-width: 670px;
    padding-left: 20px;
  }


  .contentsBoxedGrouping {
    padding-left: 20px;
  }
}
