<!doctype html>
<html class="no-js" lang="">

{% include header.html %}
<body>
  {% include navigation.html %}
    <main class="outerBox">
    {% if page.pageImage and page.pageImage != "" %}
      <div>
        <img class="pageBodyTopImg" src="{{ page.pageImage }}" />
      </div>
    {% endif %}
        <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    {% if page.hasImpact %}
      <div class="contentsBoxedGrouping">
        <div class="contentsStaticTextWrapper">
            <div class="contentStaticTextCol1">
              {{ content }}
            </div>
            <aside class="contenstStaticAsideCol3">
              {% include impact.html %}
            </aside>
        </div>
      </div>
    {% else %}
      {{ content }}
    {% endif %}
    </main>
    {% include footer.html %}
</body>
</html>