<!doctype html>
<html class="no-js" lang="en">

{% include header.html %}

<body>
    {% include navigation.html %}

    <main class="wrap outerBox">
        <h1 class="visually-hidden">Donate</h1>

        <section class="flex-grid" aria-label="Featured donation options">
            <!-- Card 1 -->
            <button class="card" type="button" aria-expanded="false" aria-controls="card-one-details">
                <div class="card-media">
                    <img src="/assets/img/box-image-9.jpg" alt="Sample image one" />
                    <div class="overlay">
                        <h3 id="card-one-title">Paypal</h3>
                        <p>Donate Online</p>
                    </div>
                </div>

                <div id="card-one-details" class="card-details" role="region" aria-labelledby="card-one-title" hidden>
                    <form action="https://www.paypal.com/donate" method="post" target="_top">
                        <input type="hidden" name="hosted_button_id" value="Z668XEAQGXXAC" />
                        <input class="click" type="image"
                            src="https://www.paypalobjects.com/en_GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit"
                            title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img class="donateImg" src="/assets/svg/qrcode.svg" alt="Donate via paypal" loading="lazy">
                    </form>
                </div>
            </button>

            <!-- Card 2 -->
            <button class="card" type="button" aria-expanded="false" aria-controls="card-two-details">
                <div class="card-media">
                    <img src="/assets/img/box-image-7.jpg" alt="Sample image two" />
                    <div class="overlay">
                        <h3 id="card-two-title">Just Giving</h3>
                        <p>Donate online with Just Giving</p>
                    </div>
                </div>

                <div id="card-two-details" class="card-details" role="region" aria-labelledby="card-two-title" hidden>
                    <img class="donateImg" src="/assets/svg/JG_LOGO_PRIMARY_NEW.svg" alt="Donte via Just Giving"
                        loading="lazy">
                    <a class="button click" href="https://www.justgiving.com/homestartnottingham">
                        Click to Donate to Home-Start Nottingham.
                    </a>
                </div>
            </button>

            <!-- Card 3 -->
            <button class="card" type="button" aria-expanded="false" aria-controls="card-three-details">
                <div class="card-media">
                    <img src="/assets/img/box-image-5.jpg" alt="Sample image three" />
                    <div class="overlay">
                        <h3 id="card-three-title">Give as you Live</h3>
                        <p>Donate once or regularly</p>
                    </div>
                </div>

                <div id="card-three-details" class="card-details" role="region" aria-labelledby="card-three-title"
                    hidden>
                    <iframe allow="payment; publickey-credentials-get"
                        src="https://donate.giveasyoulive.com/donate?cid=563238&utm_source=charitytoolkit&utm_content=563238&utm_medium=charitydonatebutton&utm_campaign=CTDonateButton&bc=152f58&br=30&tc=w&wl=1"></iframe>
                </div>
            </button>

            <!-- Card 4 -->
            <button class="card" type="button" aria-expanded="false" aria-controls="card-four-details">
                <div class="card-media">
                    <img src="/assets/img/box-image-4.jpg" alt="Sample image four" />
                    <div class="overlay">
                        <h3 id="card-four-title">Bank & Cheque</h3>
                        <p>Don't forget gift aid!</p>
                    </div>
                </div>

                <div id="card-four-details" class="card-details" role="region" aria-labelledby="card-four-title" hidden>
                    <h3 class="hs-sub-header-orange">Donations can be made to Home-Start Nottingham by:</h3>
                    <p>a. Paying direct to our bank (please contact us for bank details).</p>
                    <p>b. Sending a cheque to Home-Start Nottingham at Suite 9, Arnold Business Centre, Brookfield
                        Gardens, Nottingham, NG5 7ER</p>
                    <p>Whichever way you donate, please don't forget Gift Aid!
                        <a href="/assets/documents/Gift_Aid.docx"><img
                                style="height:40px!important;width:40px!important" src="/assets/icons/word.png"
                                alt="Gift Aid Word Doc" loading="lazy"></a>
                        <a href="/assets/documents/Gift_aid.pdf"><img
                                style="margin-left: 20px;height:40px!important;width:40px!important"
                                src="/assets/icons/pdf2.png" alt="Gift Aid PDF" loading="lazy"></a>
                    </p>
                </div>
            </button>

            <!-- Card 5 -->
            <button class="card" type="button" aria-expanded="false" aria-controls="card-five-details">
                <div class="card-media">
                    <img src="/assets/img/box-image-3.jpg" alt="Sample image five" />
                    <div class="overlay">
                        <h3 id="card-five-title">Recycle 4 Charity</h3>
                        <p>Recycle used ink cartridges</p>
                    </div>
                </div>

                <div id="card-five-details" class="card-details" role="region" aria-labelledby="card-five-title" hidden>
                    <div class="recycle-box">
                        <a class="recycle-link" href="http://www.recycle4charity.co.uk/Register/C143181" target="_blank"
                            rel="noopener">
                            <p class="recycle-heading">Recycle used ink cartridges to help!</p>
                            <p class="recycle-cta">Visit Recycle4Charity.co.uk »</p>
                        </a>
                    </div>
                </div>
            </button>

            <!-- Card 6 -->
            <button class="card" type="button" aria-expanded="false" aria-controls="card-six-details">
                <div class="card-media">
                    <img src="/assets/img/box-image-1.jpg" alt="Sample image six" />
                    <div class="overlay">
                        <h3 id="card-six-title">Cashback</h3>
                        <p>Earn Home-Start Nottingham cashback</p>
                    </div>
                </div>

                <div id="card-six-details" class="card-details" role="region" aria-labelledby="card-six-title" hidden>
                    <a href="https://www.easyfundraising.org.uk/causes/hsnottingham/"><img src="/assets/img/efLogo.png"
                            alt="Donate via easyfundraising" loading="lazy"></a>

                </div>
            </button>
        </section>
    </main>

    {% include footer.html %}
</body>

</html>